<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav"> 
            <li> 
                <a routerLink="product/create" class="nav-link" routerLinkActive="active">
                    Create product
                </a>
            </li> 
            <li class="nav-item"> 
                <a routeLink="products" class="nav-link" routerLinkActive="active"> 
                    Products
                </a>
            </li>

        </ul>
    </div>
</nav> 
<div class="container">
    <router-outlet></router-outlet>
</div>